<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>psrecaptcha</name>
    <displayName><![CDATA[Google reCAPTCHA]]></displayName>
    <version><![CDATA[1.0.2]]></version>
    <description><![CDATA[Protect your store forms with Google reCAPTCHA v2 and v3]]></description>
    <author><![CDATA[Your Name]]></author>
    <tab><![CDATA[front_office_features]]></tab>
    <is_configurable>1</is_configurable>
    <need_instance>0</need_instance>
    <limited_countries></limited_countries>
</module>
